a.repet_0000 {
  background: rgb(128, 255, 128);
}
a.repet_0001 {
  background: rgb(128, 255, 128);
}
a.repet_0002 {
  background: rgb(128, 255, 128);
}
a.repet_0003 {
  background: rgb(127, 255, 127);
}
a.repet_0004 {
  background: rgb(127, 255, 127);
}
a.repet_0005 {
  background: rgb(127, 255, 127);
}
a.repet_0006 {
  background: rgb(126, 255, 126);
}
a.repet_0007 {
  background: rgb(126, 255, 126);
}
a.repet_0008 {
  background: rgb(125, 255, 125);
}
a.repet_0009 {
  background: rgb(125, 255, 125);
}
a.repet_0010 {
  background: rgb(125, 255, 125);
}
a.repet_0011 {
  background: rgb(124, 255, 124);
}
a.repet_0012 {
  background: rgb(124, 255, 124);
}
a.repet_0013 {
  background: rgb(124, 255, 124);
}
a.repet_0014 {
  background: rgb(123, 255, 123);
}
a.repet_0015 {
  background: rgb(123, 255, 123);
}
a.repet_0016 {
  background: rgb(122, 255, 122);
}
a.repet_0017 {
  background: rgb(122, 255, 122);
}
a.repet_0018 {
  background: rgb(122, 255, 122);
}
a.repet_0019 {
  background: rgb(121, 255, 121);
}
a.repet_0020 {
  background: rgb(121, 255, 121);
}
a.repet_0021 {
  background: rgb(120, 255, 120);
}
a.repet_0022 {
  background: rgb(120, 255, 120);
}
a.repet_0023 {
  background: rgb(120, 255, 120);
}
a.repet_0024 {
  background: rgb(119, 255, 119);
}
a.repet_0025 {
  background: rgb(119, 255, 119);
}
a.repet_0026 {
  background: rgb(119, 255, 119);
}
a.repet_0027 {
  background: rgb(118, 255, 118);
}
a.repet_0028 {
  background: rgb(118, 255, 118);
}
a.repet_0029 {
  background: rgb(117, 255, 117);
}
a.repet_0030 {
  background: rgb(117, 255, 117);
}
a.repet_0031 {
  background: rgb(117, 255, 117);
}
a.repet_0032 {
  background: rgb(116, 255, 116);
}
a.repet_0033 {
  background: rgb(116, 255, 116);
}
a.repet_0034 {
  background: rgb(115, 255, 115);
}
a.repet_0035 {
  background: rgb(115, 255, 115);
}
a.repet_0036 {
  background: rgb(115, 255, 115);
}
a.repet_0037 {
  background: rgb(114, 255, 114);
}
a.repet_0038 {
  background: rgb(114, 255, 114);
}
a.repet_0039 {
  background: rgb(114, 255, 114);
}
a.repet_0040 {
  background: rgb(113, 255, 113);
}
a.repet_0041 {
  background: rgb(113, 255, 113);
}
a.repet_0042 {
  background: rgb(112, 255, 112);
}
a.repet_0043 {
  background: rgb(112, 255, 112);
}
a.repet_0044 {
  background: rgb(112, 255, 112);
}
a.repet_0045 {
  background: rgb(111, 255, 111);
}
a.repet_0046 {
  background: rgb(111, 255, 111);
}
a.repet_0047 {
  background: rgb(110, 255, 110);
}
a.repet_0048 {
  background: rgb(110, 255, 110);
}
a.repet_0049 {
  background: rgb(110, 255, 110);
}
a.repet_0050 {
  background: rgb(109, 255, 109);
}
a.repet_0051 {
  background: rgb(109, 255, 109);
}
a.repet_0052 {
  background: rgb(109, 255, 109);
}
a.repet_0053 {
  background: rgb(108, 255, 108);
}
a.repet_0054 {
  background: rgb(108, 255, 108);
}
a.repet_0055 {
  background: rgb(107, 255, 107);
}
a.repet_0056 {
  background: rgb(107, 255, 107);
}
a.repet_0057 {
  background: rgb(107, 255, 107);
}
a.repet_0058 {
  background: rgb(106, 255, 106);
}
a.repet_0059 {
  background: rgb(106, 255, 106);
}
a.repet_0060 {
  background: rgb(106, 255, 106);
}
a.repet_0061 {
  background: rgb(105, 255, 105);
}
a.repet_0062 {
  background: rgb(105, 255, 105);
}
a.repet_0063 {
  background: rgb(104, 255, 104);
}
a.repet_0064 {
  background: rgb(104, 255, 104);
}
a.repet_0065 {
  background: rgb(104, 255, 104);
}
a.repet_0066 {
  background: rgb(103, 255, 103);
}
a.repet_0067 {
  background: rgb(103, 255, 103);
}
a.repet_0068 {
  background: rgb(102, 255, 102);
}
a.repet_0069 {
  background: rgb(102, 255, 102);
}
a.repet_0070 {
  background: rgb(102, 255, 102);
}
a.repet_0071 {
  background: rgb(101, 255, 101);
}
a.repet_0072 {
  background: rgb(101, 255, 101);
}
a.repet_0073 {
  background: rgb(101, 255, 101);
}
a.repet_0074 {
  background: rgb(100, 255, 100);
}
a.repet_0075 {
  background: rgb(100, 255, 100);
}
a.repet_0076 {
  background: rgb(99, 255, 99);
}
a.repet_0077 {
  background: rgb(99, 255, 99);
}
a.repet_0078 {
  background: rgb(99, 255, 99);
}
a.repet_0079 {
  background: rgb(98, 255, 98);
}
a.repet_0080 {
  background: rgb(98, 255, 98);
}
a.repet_0081 {
  background: rgb(97, 255, 97);
}
a.repet_0082 {
  background: rgb(97, 255, 97);
}
a.repet_0083 {
  background: rgb(97, 255, 97);
}
a.repet_0084 {
  background: rgb(96, 255, 96);
}
a.repet_0085 {
  background: rgb(96, 255, 96);
}
a.repet_0086 {
  background: rgb(96, 255, 96);
}
a.repet_0087 {
  background: rgb(95, 255, 95);
}
a.repet_0088 {
  background: rgb(95, 255, 95);
}
a.repet_0089 {
  background: rgb(94, 255, 94);
}
a.repet_0090 {
  background: rgb(94, 255, 94);
}
a.repet_0091 {
  background: rgb(94, 255, 94);
}
a.repet_0092 {
  background: rgb(93, 255, 93);
}
a.repet_0093 {
  background: rgb(93, 255, 93);
}
a.repet_0094 {
  background: rgb(92, 255, 92);
}
a.repet_0095 {
  background: rgb(92, 255, 92);
}
a.repet_0096 {
  background: rgb(92, 255, 92);
}
a.repet_0097 {
  background: rgb(91, 255, 91);
}
a.repet_0098 {
  background: rgb(91, 255, 91);
}
a.repet_0099 {
  background: rgb(91, 255, 91);
}
a.repet_0100 {
  background: rgb(90, 255, 90);
}
a.repet_0101 {
  background: rgb(90, 255, 90);
}
a.repet_0102 {
  background: rgb(89, 255, 89);
}
a.repet_0103 {
  background: rgb(89, 255, 89);
}
a.repet_0104 {
  background: rgb(89, 255, 89);
}
a.repet_0105 {
  background: rgb(88, 255, 88);
}
a.repet_0106 {
  background: rgb(88, 255, 88);
}
a.repet_0107 {
  background: rgb(87, 255, 87);
}
a.repet_0108 {
  background: rgb(87, 255, 87);
}
a.repet_0109 {
  background: rgb(87, 255, 87);
}
a.repet_0110 {
  background: rgb(86, 255, 86);
}
a.repet_0111 {
  background: rgb(86, 255, 86);
}
a.repet_0112 {
  background: rgb(86, 255, 86);
}
a.repet_0113 {
  background: rgb(85, 255, 85);
}
a.repet_0114 {
  background: rgb(85, 255, 85);
}
a.repet_0115 {
  background: rgb(84, 255, 84);
}
a.repet_0116 {
  background: rgb(84, 255, 84);
}
a.repet_0117 {
  background: rgb(84, 255, 84);
}
a.repet_0118 {
  background: rgb(83, 255, 83);
}
a.repet_0119 {
  background: rgb(83, 255, 83);
}
a.repet_0120 {
  background: rgb(83, 255, 83);
}
a.repet_0121 {
  background: rgb(82, 255, 82);
}
a.repet_0122 {
  background: rgb(82, 255, 82);
}
a.repet_0123 {
  background: rgb(81, 255, 81);
}
a.repet_0124 {
  background: rgb(81, 255, 81);
}
a.repet_0125 {
  background: rgb(81, 255, 81);
}
a.repet_0126 {
  background: rgb(80, 255, 80);
}
a.repet_0127 {
  background: rgb(80, 255, 80);
}
a.repet_0128 {
  background: rgb(79, 255, 79);
}
a.repet_0129 {
  background: rgb(79, 255, 79);
}
a.repet_0130 {
  background: rgb(79, 255, 79);
}
a.repet_0131 {
  background: rgb(78, 255, 78);
}
a.repet_0132 {
  background: rgb(78, 255, 78);
}
a.repet_0133 {
  background: rgb(78, 255, 78);
}
a.repet_0134 {
  background: rgb(77, 255, 77);
}
a.repet_0135 {
  background: rgb(77, 255, 77);
}
a.repet_0136 {
  background: rgb(76, 255, 76);
}
a.repet_0137 {
  background: rgb(76, 255, 76);
}
a.repet_0138 {
  background: rgb(76, 255, 76);
}
a.repet_0139 {
  background: rgb(75, 255, 75);
}
a.repet_0140 {
  background: rgb(75, 255, 75);
}
a.repet_0141 {
  background: rgb(74, 255, 74);
}
a.repet_0142 {
  background: rgb(74, 255, 74);
}
a.repet_0143 {
  background: rgb(74, 255, 74);
}
a.repet_0144 {
  background: rgb(73, 255, 73);
}
a.repet_0145 {
  background: rgb(73, 255, 73);
}
a.repet_0146 {
  background: rgb(73, 255, 73);
}
a.repet_0147 {
  background: rgb(72, 255, 72);
}
a.repet_0148 {
  background: rgb(72, 255, 72);
}
a.repet_0149 {
  background: rgb(71, 255, 71);
}
a.repet_0150 {
  background: rgb(71, 255, 71);
}
a.repet_0151 {
  background: rgb(71, 255, 71);
}
a.repet_0152 {
  background: rgb(70, 255, 70);
}
a.repet_0153 {
  background: rgb(70, 255, 70);
}
a.repet_0154 {
  background: rgb(69, 255, 69);
}
a.repet_0155 {
  background: rgb(69, 255, 69);
}
a.repet_0156 {
  background: rgb(69, 255, 69);
}
a.repet_0157 {
  background: rgb(68, 255, 68);
}
a.repet_0158 {
  background: rgb(68, 255, 68);
}
a.repet_0159 {
  background: rgb(68, 255, 68);
}
a.repet_0160 {
  background: rgb(67, 255, 67);
}
a.repet_0161 {
  background: rgb(67, 255, 67);
}
a.repet_0162 {
  background: rgb(66, 255, 66);
}
a.repet_0163 {
  background: rgb(66, 255, 66);
}
a.repet_0164 {
  background: rgb(66, 255, 66);
}
a.repet_0165 {
  background: rgb(65, 255, 65);
}
a.repet_0166 {
  background: rgb(65, 255, 65);
}
a.repet_0167 {
  background: rgb(64, 255, 64);
}
a.repet_0168 {
  background: rgb(64, 255, 64);
}
a.repet_0169 {
  background: rgb(64, 255, 64);
}
a.repet_0170 {
  background: rgb(63, 255, 63);
}
a.repet_0171 {
  background: rgb(63, 255, 63);
}
a.repet_0172 {
  background: rgb(63, 255, 63);
}
a.repet_0173 {
  background: rgb(62, 255, 62);
}
a.repet_0174 {
  background: rgb(62, 255, 62);
}
a.repet_0175 {
  background: rgb(61, 255, 61);
}
a.repet_0176 {
  background: rgb(61, 255, 61);
}
a.repet_0177 {
  background: rgb(61, 255, 61);
}
a.repet_0178 {
  background: rgb(60, 255, 60);
}
a.repet_0179 {
  background: rgb(60, 255, 60);
}
a.repet_0180 {
  background: rgb(60, 255, 60);
}
a.repet_0181 {
  background: rgb(59, 255, 59);
}
a.repet_0182 {
  background: rgb(59, 255, 59);
}
a.repet_0183 {
  background: rgb(58, 255, 58);
}
a.repet_0184 {
  background: rgb(58, 255, 58);
}
a.repet_0185 {
  background: rgb(58, 255, 58);
}
a.repet_0186 {
  background: rgb(57, 255, 57);
}
a.repet_0187 {
  background: rgb(57, 255, 57);
}
a.repet_0188 {
  background: rgb(56, 255, 56);
}
a.repet_0189 {
  background: rgb(56, 255, 56);
}
a.repet_0190 {
  background: rgb(56, 255, 56);
}
a.repet_0191 {
  background: rgb(55, 255, 55);
}
a.repet_0192 {
  background: rgb(55, 255, 55);
}
a.repet_0193 {
  background: rgb(55, 255, 55);
}
a.repet_0194 {
  background: rgb(54, 255, 54);
}
a.repet_0195 {
  background: rgb(54, 255, 54);
}
a.repet_0196 {
  background: rgb(53, 255, 53);
}
a.repet_0197 {
  background: rgb(53, 255, 53);
}
a.repet_0198 {
  background: rgb(53, 255, 53);
}
a.repet_0199 {
  background: rgb(52, 255, 52);
}
a.repet_0200 {
  background: rgb(52, 255, 52);
}
a.repet_0201 {
  background: rgb(51, 255, 51);
}
a.repet_0202 {
  background: rgb(51, 255, 51);
}
a.repet_0203 {
  background: rgb(51, 255, 51);
}
a.repet_0204 {
  background: rgb(50, 255, 50);
}
a.repet_0205 {
  background: rgb(50, 255, 50);
}
a.repet_0206 {
  background: rgb(50, 255, 50);
}
a.repet_0207 {
  background: rgb(49, 255, 49);
}
a.repet_0208 {
  background: rgb(49, 255, 49);
}
a.repet_0209 {
  background: rgb(48, 255, 48);
}
a.repet_0210 {
  background: rgb(48, 255, 48);
}
a.repet_0211 {
  background: rgb(48, 255, 48);
}
a.repet_0212 {
  background: rgb(47, 255, 47);
}
a.repet_0213 {
  background: rgb(47, 255, 47);
}
a.repet_0214 {
  background: rgb(46, 255, 46);
}
a.repet_0215 {
  background: rgb(46, 255, 46);
}
a.repet_0216 {
  background: rgb(46, 255, 46);
}
a.repet_0217 {
  background: rgb(45, 255, 45);
}
a.repet_0218 {
  background: rgb(45, 255, 45);
}
a.repet_0219 {
  background: rgb(45, 255, 45);
}
a.repet_0220 {
  background: rgb(44, 255, 44);
}
a.repet_0221 {
  background: rgb(44, 255, 44);
}
a.repet_0222 {
  background: rgb(43, 255, 43);
}
a.repet_0223 {
  background: rgb(43, 255, 43);
}
a.repet_0224 {
  background: rgb(43, 255, 43);
}
a.repet_0225 {
  background: rgb(42, 255, 42);
}
a.repet_0226 {
  background: rgb(42, 255, 42);
}
a.repet_0227 {
  background: rgb(42, 255, 42);
}
a.repet_0228 {
  background: rgb(41, 255, 41);
}
a.repet_0229 {
  background: rgb(41, 255, 41);
}
a.repet_0230 {
  background: rgb(40, 255, 40);
}
a.repet_0231 {
  background: rgb(40, 255, 40);
}
a.repet_0232 {
  background: rgb(40, 255, 40);
}
a.repet_0233 {
  background: rgb(39, 255, 39);
}
a.repet_0234 {
  background: rgb(39, 255, 39);
}
a.repet_0235 {
  background: rgb(38, 255, 38);
}
a.repet_0236 {
  background: rgb(38, 255, 38);
}
a.repet_0237 {
  background: rgb(38, 255, 38);
}
a.repet_0238 {
  background: rgb(37, 255, 37);
}
a.repet_0239 {
  background: rgb(37, 255, 37);
}
a.repet_0240 {
  background: rgb(37, 255, 37);
}
a.repet_0241 {
  background: rgb(36, 255, 36);
}
a.repet_0242 {
  background: rgb(36, 255, 36);
}
a.repet_0243 {
  background: rgb(35, 255, 35);
}
a.repet_0244 {
  background: rgb(35, 255, 35);
}
a.repet_0245 {
  background: rgb(35, 255, 35);
}
a.repet_0246 {
  background: rgb(34, 255, 34);
}
a.repet_0247 {
  background: rgb(34, 255, 34);
}
a.repet_0248 {
  background: rgb(33, 255, 33);
}
a.repet_0249 {
  background: rgb(33, 255, 33);
}
a.repet_0250 {
  background: rgb(33, 255, 33);
}
a.repet_0251 {
  background: rgb(32, 255, 32);
}
a.repet_0252 {
  background: rgb(32, 255, 32);
}
a.repet_0253 {
  background: rgb(32, 255, 32);
}
a.repet_0254 {
  background: rgb(31, 255, 31);
}
a.repet_0255 {
  background: rgb(31, 255, 31);
}
a.repet_0256 {
  background: rgb(30, 255, 30);
}
a.repet_0257 {
  background: rgb(30, 255, 30);
}
a.repet_0258 {
  background: rgb(30, 255, 30);
}
a.repet_0259 {
  background: rgb(29, 255, 29);
}
a.repet_0260 {
  background: rgb(29, 255, 29);
}
a.repet_0261 {
  background: rgb(28, 255, 28);
}
a.repet_0262 {
  background: rgb(28, 255, 28);
}
a.repet_0263 {
  background: rgb(28, 255, 28);
}
a.repet_0264 {
  background: rgb(27, 255, 27);
}
a.repet_0265 {
  background: rgb(27, 255, 27);
}
a.repet_0266 {
  background: rgb(27, 255, 27);
}
a.repet_0267 {
  background: rgb(26, 255, 26);
}
a.repet_0268 {
  background: rgb(26, 255, 26);
}
a.repet_0269 {
  background: rgb(25, 255, 25);
}
a.repet_0270 {
  background: rgb(25, 255, 25);
}
a.repet_0271 {
  background: rgb(25, 255, 25);
}
a.repet_0272 {
  background: rgb(24, 255, 24);
}
a.repet_0273 {
  background: rgb(24, 255, 24);
}
a.repet_0274 {
  background: rgb(23, 255, 23);
}
a.repet_0275 {
  background: rgb(23, 255, 23);
}
a.repet_0276 {
  background: rgb(23, 255, 23);
}
a.repet_0277 {
  background: rgb(22, 255, 22);
}
a.repet_0278 {
  background: rgb(22, 255, 22);
}
a.repet_0279 {
  background: rgb(22, 255, 22);
}
a.repet_0280 {
  background: rgb(21, 255, 21);
}
a.repet_0281 {
  background: rgb(21, 255, 21);
}
a.repet_0282 {
  background: rgb(20, 255, 20);
}
a.repet_0283 {
  background: rgb(20, 255, 20);
}
a.repet_0284 {
  background: rgb(20, 255, 20);
}
a.repet_0285 {
  background: rgb(19, 255, 19);
}
a.repet_0286 {
  background: rgb(19, 255, 19);
}
a.repet_0287 {
  background: rgb(19, 255, 19);
}
a.repet_0288 {
  background: rgb(18, 255, 18);
}
a.repet_0289 {
  background: rgb(18, 255, 18);
}
a.repet_0290 {
  background: rgb(17, 255, 17);
}
a.repet_0291 {
  background: rgb(17, 255, 17);
}
a.repet_0292 {
  background: rgb(17, 255, 17);
}
a.repet_0293 {
  background: rgb(16, 255, 16);
}
a.repet_0294 {
  background: rgb(16, 255, 16);
}
a.repet_0295 {
  background: rgb(15, 255, 15);
}
a.repet_0296 {
  background: rgb(15, 255, 15);
}
a.repet_0297 {
  background: rgb(15, 255, 15);
}
a.repet_0298 {
  background: rgb(14, 255, 14);
}
a.repet_0299 {
  background: rgb(14, 255, 14);
}
a.repet_0300 {
  background: rgb(14, 255, 14);
}
a.repet_0301 {
  background: rgb(13, 255, 13);
}
a.repet_0302 {
  background: rgb(13, 255, 13);
}
a.repet_0303 {
  background: rgb(12, 255, 12);
}
a.repet_0304 {
  background: rgb(12, 255, 12);
}
a.repet_0305 {
  background: rgb(12, 255, 12);
}
a.repet_0306 {
  background: rgb(11, 255, 11);
}
a.repet_0307 {
  background: rgb(11, 255, 11);
}
a.repet_0308 {
  background: rgb(10, 255, 10);
}
a.repet_0309 {
  background: rgb(10, 255, 10);
}
a.repet_0310 {
  background: rgb(10, 255, 10);
}
a.repet_0311 {
  background: rgb(9, 255, 9);
}
a.repet_0312 {
  background: rgb(9, 255, 9);
}
a.repet_0313 {
  background: rgb(9, 255, 9);
}
a.repet_0314 {
  background: rgb(8, 255, 8);
}
a.repet_0315 {
  background: rgb(8, 255, 8);
}
a.repet_0316 {
  background: rgb(7, 255, 7);
}
a.repet_0317 {
  background: rgb(7, 255, 7);
}
a.repet_0318 {
  background: rgb(7, 255, 7);
}
a.repet_0319 {
  background: rgb(6, 255, 6);
}
a.repet_0320 {
  background: rgb(6, 255, 6);
}
a.repet_0321 {
  background: rgb(5, 255, 5);
}
a.repet_0322 {
  background: rgb(5, 255, 5);
}
a.repet_0323 {
  background: rgb(5, 255, 5);
}
a.repet_0324 {
  background: rgb(4, 255, 4);
}
a.repet_0325 {
  background: rgb(4, 255, 4);
}
a.repet_0326 {
  background: rgb(4, 255, 4);
}
a.repet_0327 {
  background: rgb(3, 255, 3);
}
a.repet_0328 {
  background: rgb(3, 255, 3);
}
a.repet_0329 {
  background: rgb(2, 255, 2);
}
a.repet_0330 {
  background: rgb(2, 255, 2);
}
a.repet_0331 {
  background: rgb(2, 255, 2);
}
a.repet_0332 {
  background: rgb(1, 255, 1);
}
a.repet_0333 {
  background: rgb(1, 255, 1);
}
a.repet_0334 {
  background: rgb(255, 255, 128);
}
a.repet_0335 {
  background: rgb(255, 255, 128);
}
a.repet_0336 {
  background: rgb(255, 255, 128);
}
a.repet_0337 {
  background: rgb(255, 255, 127);
}
a.repet_0338 {
  background: rgb(255, 255, 127);
}
a.repet_0339 {
  background: rgb(255, 255, 127);
}
a.repet_0340 {
  background: rgb(255, 255, 126);
}
a.repet_0341 {
  background: rgb(255, 255, 126);
}
a.repet_0342 {
  background: rgb(255, 255, 125);
}
a.repet_0343 {
  background: rgb(255, 255, 125);
}
a.repet_0344 {
  background: rgb(255, 255, 125);
}
a.repet_0345 {
  background: rgb(255, 255, 124);
}
a.repet_0346 {
  background: rgb(255, 255, 124);
}
a.repet_0347 {
  background: rgb(255, 255, 124);
}
a.repet_0348 {
  background: rgb(255, 255, 123);
}
a.repet_0349 {
  background: rgb(255, 255, 123);
}
a.repet_0350 {
  background: rgb(255, 255, 122);
}
a.repet_0351 {
  background: rgb(255, 255, 122);
}
a.repet_0352 {
  background: rgb(255, 255, 122);
}
a.repet_0353 {
  background: rgb(255, 255, 121);
}
a.repet_0354 {
  background: rgb(255, 255, 121);
}
a.repet_0355 {
  background: rgb(255, 255, 120);
}
a.repet_0356 {
  background: rgb(255, 255, 120);
}
a.repet_0357 {
  background: rgb(255, 255, 120);
}
a.repet_0358 {
  background: rgb(255, 255, 119);
}
a.repet_0359 {
  background: rgb(255, 255, 119);
}
a.repet_0360 {
  background: rgb(255, 255, 119);
}
a.repet_0361 {
  background: rgb(255, 255, 118);
}
a.repet_0362 {
  background: rgb(255, 255, 118);
}
a.repet_0363 {
  background: rgb(255, 255, 117);
}
a.repet_0364 {
  background: rgb(255, 255, 117);
}
a.repet_0365 {
  background: rgb(255, 255, 117);
}
a.repet_0366 {
  background: rgb(255, 255, 116);
}
a.repet_0367 {
  background: rgb(255, 255, 116);
}
a.repet_0368 {
  background: rgb(255, 255, 115);
}
a.repet_0369 {
  background: rgb(255, 255, 115);
}
a.repet_0370 {
  background: rgb(255, 255, 115);
}
a.repet_0371 {
  background: rgb(255, 255, 114);
}
a.repet_0372 {
  background: rgb(255, 255, 114);
}
a.repet_0373 {
  background: rgb(255, 255, 114);
}
a.repet_0374 {
  background: rgb(255, 255, 113);
}
a.repet_0375 {
  background: rgb(255, 255, 113);
}
a.repet_0376 {
  background: rgb(255, 255, 112);
}
a.repet_0377 {
  background: rgb(255, 255, 112);
}
a.repet_0378 {
  background: rgb(255, 255, 112);
}
a.repet_0379 {
  background: rgb(255, 255, 111);
}
a.repet_0380 {
  background: rgb(255, 255, 111);
}
a.repet_0381 {
  background: rgb(255, 255, 110);
}
a.repet_0382 {
  background: rgb(255, 255, 110);
}
a.repet_0383 {
  background: rgb(255, 255, 110);
}
a.repet_0384 {
  background: rgb(255, 255, 109);
}
a.repet_0385 {
  background: rgb(255, 255, 109);
}
a.repet_0386 {
  background: rgb(255, 255, 109);
}
a.repet_0387 {
  background: rgb(255, 255, 108);
}
a.repet_0388 {
  background: rgb(255, 255, 108);
}
a.repet_0389 {
  background: rgb(255, 255, 107);
}
a.repet_0390 {
  background: rgb(255, 255, 107);
}
a.repet_0391 {
  background: rgb(255, 255, 107);
}
a.repet_0392 {
  background: rgb(255, 255, 106);
}
a.repet_0393 {
  background: rgb(255, 255, 106);
}
a.repet_0394 {
  background: rgb(255, 255, 106);
}
a.repet_0395 {
  background: rgb(255, 255, 105);
}
a.repet_0396 {
  background: rgb(255, 255, 105);
}
a.repet_0397 {
  background: rgb(255, 255, 104);
}
a.repet_0398 {
  background: rgb(255, 255, 104);
}
a.repet_0399 {
  background: rgb(255, 255, 104);
}
a.repet_0400 {
  background: rgb(255, 255, 103);
}
a.repet_0401 {
  background: rgb(255, 255, 103);
}
a.repet_0402 {
  background: rgb(255, 255, 102);
}
a.repet_0403 {
  background: rgb(255, 255, 102);
}
a.repet_0404 {
  background: rgb(255, 255, 102);
}
a.repet_0405 {
  background: rgb(255, 255, 101);
}
a.repet_0406 {
  background: rgb(255, 255, 101);
}
a.repet_0407 {
  background: rgb(255, 255, 101);
}
a.repet_0408 {
  background: rgb(255, 255, 100);
}
a.repet_0409 {
  background: rgb(255, 255, 100);
}
a.repet_0410 {
  background: rgb(255, 255, 99);
}
a.repet_0411 {
  background: rgb(255, 255, 99);
}
a.repet_0412 {
  background: rgb(255, 255, 99);
}
a.repet_0413 {
  background: rgb(255, 255, 98);
}
a.repet_0414 {
  background: rgb(255, 255, 98);
}
a.repet_0415 {
  background: rgb(255, 255, 97);
}
a.repet_0416 {
  background: rgb(255, 255, 97);
}
a.repet_0417 {
  background: rgb(255, 255, 97);
}
a.repet_0418 {
  background: rgb(255, 255, 96);
}
a.repet_0419 {
  background: rgb(255, 255, 96);
}
a.repet_0420 {
  background: rgb(255, 255, 96);
}
a.repet_0421 {
  background: rgb(255, 255, 95);
}
a.repet_0422 {
  background: rgb(255, 255, 95);
}
a.repet_0423 {
  background: rgb(255, 255, 94);
}
a.repet_0424 {
  background: rgb(255, 255, 94);
}
a.repet_0425 {
  background: rgb(255, 255, 94);
}
a.repet_0426 {
  background: rgb(255, 255, 93);
}
a.repet_0427 {
  background: rgb(255, 255, 93);
}
a.repet_0428 {
  background: rgb(255, 255, 92);
}
a.repet_0429 {
  background: rgb(255, 255, 92);
}
a.repet_0430 {
  background: rgb(255, 255, 92);
}
a.repet_0431 {
  background: rgb(255, 255, 91);
}
a.repet_0432 {
  background: rgb(255, 255, 91);
}
a.repet_0433 {
  background: rgb(255, 255, 91);
}
a.repet_0434 {
  background: rgb(255, 255, 90);
}
a.repet_0435 {
  background: rgb(255, 255, 90);
}
a.repet_0436 {
  background: rgb(255, 255, 89);
}
a.repet_0437 {
  background: rgb(255, 255, 89);
}
a.repet_0438 {
  background: rgb(255, 255, 89);
}
a.repet_0439 {
  background: rgb(255, 255, 88);
}
a.repet_0440 {
  background: rgb(255, 255, 88);
}
a.repet_0441 {
  background: rgb(255, 255, 87);
}
a.repet_0442 {
  background: rgb(255, 255, 87);
}
a.repet_0443 {
  background: rgb(255, 255, 87);
}
a.repet_0444 {
  background: rgb(255, 255, 86);
}
a.repet_0445 {
  background: rgb(255, 255, 86);
}
a.repet_0446 {
  background: rgb(255, 255, 86);
}
a.repet_0447 {
  background: rgb(255, 255, 85);
}
a.repet_0448 {
  background: rgb(255, 255, 85);
}
a.repet_0449 {
  background: rgb(255, 255, 84);
}
a.repet_0450 {
  background: rgb(255, 255, 84);
}
a.repet_0451 {
  background: rgb(255, 255, 84);
}
a.repet_0452 {
  background: rgb(255, 255, 83);
}
a.repet_0453 {
  background: rgb(255, 255, 83);
}
a.repet_0454 {
  background: rgb(255, 255, 83);
}
a.repet_0455 {
  background: rgb(255, 255, 82);
}
a.repet_0456 {
  background: rgb(255, 255, 82);
}
a.repet_0457 {
  background: rgb(255, 255, 81);
}
a.repet_0458 {
  background: rgb(255, 255, 81);
}
a.repet_0459 {
  background: rgb(255, 255, 81);
}
a.repet_0460 {
  background: rgb(255, 255, 80);
}
a.repet_0461 {
  background: rgb(255, 255, 80);
}
a.repet_0462 {
  background: rgb(255, 255, 79);
}
a.repet_0463 {
  background: rgb(255, 255, 79);
}
a.repet_0464 {
  background: rgb(255, 255, 79);
}
a.repet_0465 {
  background: rgb(255, 255, 78);
}
a.repet_0466 {
  background: rgb(255, 255, 78);
}
a.repet_0467 {
  background: rgb(255, 255, 78);
}
a.repet_0468 {
  background: rgb(255, 255, 77);
}
a.repet_0469 {
  background: rgb(255, 255, 77);
}
a.repet_0470 {
  background: rgb(255, 255, 76);
}
a.repet_0471 {
  background: rgb(255, 255, 76);
}
a.repet_0472 {
  background: rgb(255, 255, 76);
}
a.repet_0473 {
  background: rgb(255, 255, 75);
}
a.repet_0474 {
  background: rgb(255, 255, 75);
}
a.repet_0475 {
  background: rgb(255, 255, 74);
}
a.repet_0476 {
  background: rgb(255, 255, 74);
}
a.repet_0477 {
  background: rgb(255, 255, 74);
}
a.repet_0478 {
  background: rgb(255, 255, 73);
}
a.repet_0479 {
  background: rgb(255, 255, 73);
}
a.repet_0480 {
  background: rgb(255, 255, 73);
}
a.repet_0481 {
  background: rgb(255, 255, 72);
}
a.repet_0482 {
  background: rgb(255, 255, 72);
}
a.repet_0483 {
  background: rgb(255, 255, 71);
}
a.repet_0484 {
  background: rgb(255, 255, 71);
}
a.repet_0485 {
  background: rgb(255, 255, 71);
}
a.repet_0486 {
  background: rgb(255, 255, 70);
}
a.repet_0487 {
  background: rgb(255, 255, 70);
}
a.repet_0488 {
  background: rgb(255, 255, 69);
}
a.repet_0489 {
  background: rgb(255, 255, 69);
}
a.repet_0490 {
  background: rgb(255, 255, 69);
}
a.repet_0491 {
  background: rgb(255, 255, 68);
}
a.repet_0492 {
  background: rgb(255, 255, 68);
}
a.repet_0493 {
  background: rgb(255, 255, 68);
}
a.repet_0494 {
  background: rgb(255, 255, 67);
}
a.repet_0495 {
  background: rgb(255, 255, 67);
}
a.repet_0496 {
  background: rgb(255, 255, 66);
}
a.repet_0497 {
  background: rgb(255, 255, 66);
}
a.repet_0498 {
  background: rgb(255, 255, 66);
}
a.repet_0499 {
  background: rgb(255, 255, 65);
}
a.repet_0500 {
  background: rgb(255, 255, 65);
}
a.repet_0501 {
  background: rgb(255, 255, 64);
}
a.repet_0502 {
  background: rgb(255, 255, 64);
}
a.repet_0503 {
  background: rgb(255, 255, 64);
}
a.repet_0504 {
  background: rgb(255, 255, 63);
}
a.repet_0505 {
  background: rgb(255, 255, 63);
}
a.repet_0506 {
  background: rgb(255, 255, 63);
}
a.repet_0507 {
  background: rgb(255, 255, 62);
}
a.repet_0508 {
  background: rgb(255, 255, 62);
}
a.repet_0509 {
  background: rgb(255, 255, 61);
}
a.repet_0510 {
  background: rgb(255, 255, 61);
}
a.repet_0511 {
  background: rgb(255, 255, 61);
}
a.repet_0512 {
  background: rgb(255, 255, 60);
}
a.repet_0513 {
  background: rgb(255, 255, 60);
}
a.repet_0514 {
  background: rgb(255, 255, 60);
}
a.repet_0515 {
  background: rgb(255, 255, 59);
}
a.repet_0516 {
  background: rgb(255, 255, 59);
}
a.repet_0517 {
  background: rgb(255, 255, 58);
}
a.repet_0518 {
  background: rgb(255, 255, 58);
}
a.repet_0519 {
  background: rgb(255, 255, 58);
}
a.repet_0520 {
  background: rgb(255, 255, 57);
}
a.repet_0521 {
  background: rgb(255, 255, 57);
}
a.repet_0522 {
  background: rgb(255, 255, 56);
}
a.repet_0523 {
  background: rgb(255, 255, 56);
}
a.repet_0524 {
  background: rgb(255, 255, 56);
}
a.repet_0525 {
  background: rgb(255, 255, 55);
}
a.repet_0526 {
  background: rgb(255, 255, 55);
}
a.repet_0527 {
  background: rgb(255, 255, 55);
}
a.repet_0528 {
  background: rgb(255, 255, 54);
}
a.repet_0529 {
  background: rgb(255, 255, 54);
}
a.repet_0530 {
  background: rgb(255, 255, 53);
}
a.repet_0531 {
  background: rgb(255, 255, 53);
}
a.repet_0532 {
  background: rgb(255, 255, 53);
}
a.repet_0533 {
  background: rgb(255, 255, 52);
}
a.repet_0534 {
  background: rgb(255, 255, 52);
}
a.repet_0535 {
  background: rgb(255, 255, 51);
}
a.repet_0536 {
  background: rgb(255, 255, 51);
}
a.repet_0537 {
  background: rgb(255, 255, 51);
}
a.repet_0538 {
  background: rgb(255, 255, 50);
}
a.repet_0539 {
  background: rgb(255, 255, 50);
}
a.repet_0540 {
  background: rgb(255, 255, 50);
}
a.repet_0541 {
  background: rgb(255, 255, 49);
}
a.repet_0542 {
  background: rgb(255, 255, 49);
}
a.repet_0543 {
  background: rgb(255, 255, 48);
}
a.repet_0544 {
  background: rgb(255, 255, 48);
}
a.repet_0545 {
  background: rgb(255, 255, 48);
}
a.repet_0546 {
  background: rgb(255, 255, 47);
}
a.repet_0547 {
  background: rgb(255, 255, 47);
}
a.repet_0548 {
  background: rgb(255, 255, 46);
}
a.repet_0549 {
  background: rgb(255, 255, 46);
}
a.repet_0550 {
  background: rgb(255, 255, 46);
}
a.repet_0551 {
  background: rgb(255, 255, 45);
}
a.repet_0552 {
  background: rgb(255, 255, 45);
}
a.repet_0553 {
  background: rgb(255, 255, 45);
}
a.repet_0554 {
  background: rgb(255, 255, 44);
}
a.repet_0555 {
  background: rgb(255, 255, 44);
}
a.repet_0556 {
  background: rgb(255, 255, 43);
}
a.repet_0557 {
  background: rgb(255, 255, 43);
}
a.repet_0558 {
  background: rgb(255, 255, 43);
}
a.repet_0559 {
  background: rgb(255, 255, 42);
}
a.repet_0560 {
  background: rgb(255, 255, 42);
}
a.repet_0561 {
  background: rgb(255, 255, 42);
}
a.repet_0562 {
  background: rgb(255, 255, 41);
}
a.repet_0563 {
  background: rgb(255, 255, 41);
}
a.repet_0564 {
  background: rgb(255, 255, 40);
}
a.repet_0565 {
  background: rgb(255, 255, 40);
}
a.repet_0566 {
  background: rgb(255, 255, 40);
}
a.repet_0567 {
  background: rgb(255, 255, 39);
}
a.repet_0568 {
  background: rgb(255, 255, 39);
}
a.repet_0569 {
  background: rgb(255, 255, 38);
}
a.repet_0570 {
  background: rgb(255, 255, 38);
}
a.repet_0571 {
  background: rgb(255, 255, 38);
}
a.repet_0572 {
  background: rgb(255, 255, 37);
}
a.repet_0573 {
  background: rgb(255, 255, 37);
}
a.repet_0574 {
  background: rgb(255, 255, 37);
}
a.repet_0575 {
  background: rgb(255, 255, 36);
}
a.repet_0576 {
  background: rgb(255, 255, 36);
}
a.repet_0577 {
  background: rgb(255, 255, 35);
}
a.repet_0578 {
  background: rgb(255, 255, 35);
}
a.repet_0579 {
  background: rgb(255, 255, 35);
}
a.repet_0580 {
  background: rgb(255, 255, 34);
}
a.repet_0581 {
  background: rgb(255, 255, 34);
}
a.repet_0582 {
  background: rgb(255, 255, 33);
}
a.repet_0583 {
  background: rgb(255, 255, 33);
}
a.repet_0584 {
  background: rgb(255, 255, 33);
}
a.repet_0585 {
  background: rgb(255, 255, 32);
}
a.repet_0586 {
  background: rgb(255, 255, 32);
}
a.repet_0587 {
  background: rgb(255, 255, 32);
}
a.repet_0588 {
  background: rgb(255, 255, 31);
}
a.repet_0589 {
  background: rgb(255, 255, 31);
}
a.repet_0590 {
  background: rgb(255, 255, 30);
}
a.repet_0591 {
  background: rgb(255, 255, 30);
}
a.repet_0592 {
  background: rgb(255, 255, 30);
}
a.repet_0593 {
  background: rgb(255, 255, 29);
}
a.repet_0594 {
  background: rgb(255, 255, 29);
}
a.repet_0595 {
  background: rgb(255, 255, 28);
}
a.repet_0596 {
  background: rgb(255, 255, 28);
}
a.repet_0597 {
  background: rgb(255, 255, 28);
}
a.repet_0598 {
  background: rgb(255, 255, 27);
}
a.repet_0599 {
  background: rgb(255, 255, 27);
}
a.repet_0600 {
  background: rgb(255, 255, 27);
}
a.repet_0601 {
  background: rgb(255, 255, 26);
}
a.repet_0602 {
  background: rgb(255, 255, 26);
}
a.repet_0603 {
  background: rgb(255, 255, 25);
}
a.repet_0604 {
  background: rgb(255, 255, 25);
}
a.repet_0605 {
  background: rgb(255, 255, 25);
}
a.repet_0606 {
  background: rgb(255, 255, 24);
}
a.repet_0607 {
  background: rgb(255, 255, 24);
}
a.repet_0608 {
  background: rgb(255, 255, 23);
}
a.repet_0609 {
  background: rgb(255, 255, 23);
}
a.repet_0610 {
  background: rgb(255, 255, 23);
}
a.repet_0611 {
  background: rgb(255, 255, 22);
}
a.repet_0612 {
  background: rgb(255, 255, 22);
}
a.repet_0613 {
  background: rgb(255, 255, 22);
}
a.repet_0614 {
  background: rgb(255, 255, 21);
}
a.repet_0615 {
  background: rgb(255, 255, 21);
}
a.repet_0616 {
  background: rgb(255, 255, 20);
}
a.repet_0617 {
  background: rgb(255, 255, 20);
}
a.repet_0618 {
  background: rgb(255, 255, 20);
}
a.repet_0619 {
  background: rgb(255, 255, 19);
}
a.repet_0620 {
  background: rgb(255, 255, 19);
}
a.repet_0621 {
  background: rgb(255, 255, 19);
}
a.repet_0622 {
  background: rgb(255, 255, 18);
}
a.repet_0623 {
  background: rgb(255, 255, 18);
}
a.repet_0624 {
  background: rgb(255, 255, 17);
}
a.repet_0625 {
  background: rgb(255, 255, 17);
}
a.repet_0626 {
  background: rgb(255, 255, 17);
}
a.repet_0627 {
  background: rgb(255, 255, 16);
}
a.repet_0628 {
  background: rgb(255, 255, 16);
}
a.repet_0629 {
  background: rgb(255, 255, 15);
}
a.repet_0630 {
  background: rgb(255, 255, 15);
}
a.repet_0631 {
  background: rgb(255, 255, 15);
}
a.repet_0632 {
  background: rgb(255, 255, 14);
}
a.repet_0633 {
  background: rgb(255, 255, 14);
}
a.repet_0634 {
  background: rgb(255, 255, 14);
}
a.repet_0635 {
  background: rgb(255, 255, 13);
}
a.repet_0636 {
  background: rgb(255, 255, 13);
}
a.repet_0637 {
  background: rgb(255, 255, 12);
}
a.repet_0638 {
  background: rgb(255, 255, 12);
}
a.repet_0639 {
  background: rgb(255, 255, 12);
}
a.repet_0640 {
  background: rgb(255, 255, 11);
}
a.repet_0641 {
  background: rgb(255, 255, 11);
}
a.repet_0642 {
  background: rgb(255, 255, 10);
}
a.repet_0643 {
  background: rgb(255, 255, 10);
}
a.repet_0644 {
  background: rgb(255, 255, 10);
}
a.repet_0645 {
  background: rgb(255, 255, 9);
}
a.repet_0646 {
  background: rgb(255, 255, 9);
}
a.repet_0647 {
  background: rgb(255, 255, 9);
}
a.repet_0648 {
  background: rgb(255, 255, 8);
}
a.repet_0649 {
  background: rgb(255, 255, 8);
}
a.repet_0650 {
  background: rgb(255, 255, 7);
}
a.repet_0651 {
  background: rgb(255, 255, 7);
}
a.repet_0652 {
  background: rgb(255, 255, 7);
}
a.repet_0653 {
  background: rgb(255, 255, 6);
}
a.repet_0654 {
  background: rgb(255, 255, 6);
}
a.repet_0655 {
  background: rgb(255, 255, 5);
}
a.repet_0656 {
  background: rgb(255, 255, 5);
}
a.repet_0657 {
  background: rgb(255, 255, 5);
}
a.repet_0658 {
  background: rgb(255, 255, 4);
}
a.repet_0659 {
  background: rgb(255, 255, 4);
}
a.repet_0660 {
  background: rgb(255, 255, 4);
}
a.repet_0661 {
  background: rgb(255, 255, 3);
}
a.repet_0662 {
  background: rgb(255, 255, 3);
}
a.repet_0663 {
  background: rgb(255, 255, 2);
}
a.repet_0664 {
  background: rgb(255, 255, 2);
}
a.repet_0665 {
  background: rgb(255, 255, 2);
}
a.repet_0666 {
  background: rgb(255, 255, 1);
}
a.repet_0667 {
  background: rgb(255, 255, 0);
}
a.repet_0668 {
  background: rgb(255, 255, 0);
}
a.repet_0669 {
  background: rgb(255, 254, 0);
}
a.repet_0670 {
  background: rgb(255, 253, 0);
}
a.repet_0671 {
  background: rgb(255, 252, 0);
}
a.repet_0672 {
  background: rgb(255, 252, 0);
}
a.repet_0673 {
  background: rgb(255, 251, 0);
}
a.repet_0674 {
  background: rgb(255, 250, 0);
}
a.repet_0675 {
  background: rgb(255, 249, 0);
}
a.repet_0676 {
  background: rgb(255, 249, 0);
}
a.repet_0677 {
  background: rgb(255, 248, 0);
}
a.repet_0678 {
  background: rgb(255, 247, 0);
}
a.repet_0679 {
  background: rgb(255, 246, 0);
}
a.repet_0680 {
  background: rgb(255, 246, 0);
}
a.repet_0681 {
  background: rgb(255, 245, 0);
}
a.repet_0682 {
  background: rgb(255, 244, 0);
}
a.repet_0683 {
  background: rgb(255, 243, 0);
}
a.repet_0684 {
  background: rgb(255, 243, 0);
}
a.repet_0685 {
  background: rgb(255, 242, 0);
}
a.repet_0686 {
  background: rgb(255, 241, 0);
}
a.repet_0687 {
  background: rgb(255, 240, 0);
}
a.repet_0688 {
  background: rgb(255, 239, 0);
}
a.repet_0689 {
  background: rgb(255, 239, 0);
}
a.repet_0690 {
  background: rgb(255, 238, 0);
}
a.repet_0691 {
  background: rgb(255, 237, 0);
}
a.repet_0692 {
  background: rgb(255, 236, 0);
}
a.repet_0693 {
  background: rgb(255, 236, 0);
}
a.repet_0694 {
  background: rgb(255, 235, 0);
}
a.repet_0695 {
  background: rgb(255, 234, 0);
}
a.repet_0696 {
  background: rgb(255, 233, 0);
}
a.repet_0697 {
  background: rgb(255, 233, 0);
}
a.repet_0698 {
  background: rgb(255, 232, 0);
}
a.repet_0699 {
  background: rgb(255, 231, 0);
}
a.repet_0700 {
  background: rgb(255, 230, 0);
}
a.repet_0701 {
  background: rgb(255, 230, 0);
}
a.repet_0702 {
  background: rgb(255, 229, 0);
}
a.repet_0703 {
  background: rgb(255, 228, 0);
}
a.repet_0704 {
  background: rgb(255, 227, 0);
}
a.repet_0705 {
  background: rgb(255, 226, 0);
}
a.repet_0706 {
  background: rgb(255, 226, 0);
}
a.repet_0707 {
  background: rgb(255, 225, 0);
}
a.repet_0708 {
  background: rgb(255, 224, 0);
}
a.repet_0709 {
  background: rgb(255, 223, 0);
}
a.repet_0710 {
  background: rgb(255, 223, 0);
}
a.repet_0711 {
  background: rgb(255, 222, 0);
}
a.repet_0712 {
  background: rgb(255, 221, 0);
}
a.repet_0713 {
  background: rgb(255, 220, 0);
}
a.repet_0714 {
  background: rgb(255, 220, 0);
}
a.repet_0715 {
  background: rgb(255, 219, 0);
}
a.repet_0716 {
  background: rgb(255, 218, 0);
}
a.repet_0717 {
  background: rgb(255, 217, 0);
}
a.repet_0718 {
  background: rgb(255, 217, 0);
}
a.repet_0719 {
  background: rgb(255, 216, 0);
}
a.repet_0720 {
  background: rgb(255, 215, 0);
}
a.repet_0721 {
  background: rgb(255, 214, 0);
}
a.repet_0722 {
  background: rgb(255, 214, 0);
}
a.repet_0723 {
  background: rgb(255, 213, 0);
}
a.repet_0724 {
  background: rgb(255, 212, 0);
}
a.repet_0725 {
  background: rgb(255, 211, 0);
}
a.repet_0726 {
  background: rgb(255, 210, 0);
}
a.repet_0727 {
  background: rgb(255, 210, 0);
}
a.repet_0728 {
  background: rgb(255, 209, 0);
}
a.repet_0729 {
  background: rgb(255, 208, 0);
}
a.repet_0730 {
  background: rgb(255, 207, 0);
}
a.repet_0731 {
  background: rgb(255, 207, 0);
}
a.repet_0732 {
  background: rgb(255, 206, 0);
}
a.repet_0733 {
  background: rgb(255, 205, 0);
}
a.repet_0734 {
  background: rgb(255, 204, 0);
}
a.repet_0735 {
  background: rgb(255, 204, 0);
}
a.repet_0736 {
  background: rgb(255, 203, 0);
}
a.repet_0737 {
  background: rgb(255, 202, 0);
}
a.repet_0738 {
  background: rgb(255, 201, 0);
}
a.repet_0739 {
  background: rgb(255, 201, 0);
}
a.repet_0740 {
  background: rgb(255, 200, 0);
}
a.repet_0741 {
  background: rgb(255, 199, 0);
}
a.repet_0742 {
  background: rgb(255, 198, 0);
}
a.repet_0743 {
  background: rgb(255, 197, 0);
}
a.repet_0744 {
  background: rgb(255, 197, 0);
}
a.repet_0745 {
  background: rgb(255, 196, 0);
}
a.repet_0746 {
  background: rgb(255, 195, 0);
}
a.repet_0747 {
  background: rgb(255, 194, 0);
}
a.repet_0748 {
  background: rgb(255, 194, 0);
}
a.repet_0749 {
  background: rgb(255, 193, 0);
}
a.repet_0750 {
  background: rgb(255, 192, 0);
}
a.repet_0751 {
  background: rgb(255, 191, 0);
}
a.repet_0752 {
  background: rgb(255, 191, 0);
}
a.repet_0753 {
  background: rgb(255, 190, 0);
}
a.repet_0754 {
  background: rgb(255, 189, 0);
}
a.repet_0755 {
  background: rgb(255, 188, 0);
}
a.repet_0756 {
  background: rgb(255, 188, 0);
}
a.repet_0757 {
  background: rgb(255, 187, 0);
}
a.repet_0758 {
  background: rgb(255, 186, 0);
}
a.repet_0759 {
  background: rgb(255, 185, 0);
}
a.repet_0760 {
  background: rgb(255, 184, 0);
}
a.repet_0761 {
  background: rgb(255, 184, 0);
}
a.repet_0762 {
  background: rgb(255, 183, 0);
}
a.repet_0763 {
  background: rgb(255, 182, 0);
}
a.repet_0764 {
  background: rgb(255, 181, 0);
}
a.repet_0765 {
  background: rgb(255, 181, 0);
}
a.repet_0766 {
  background: rgb(255, 180, 0);
}
a.repet_0767 {
  background: rgb(255, 179, 0);
}
a.repet_0768 {
  background: rgb(255, 178, 0);
}
a.repet_0769 {
  background: rgb(255, 178, 0);
}
a.repet_0770 {
  background: rgb(255, 177, 0);
}
a.repet_0771 {
  background: rgb(255, 176, 0);
}
a.repet_0772 {
  background: rgb(255, 175, 0);
}
a.repet_0773 {
  background: rgb(255, 175, 0);
}
a.repet_0774 {
  background: rgb(255, 174, 0);
}
a.repet_0775 {
  background: rgb(255, 173, 0);
}
a.repet_0776 {
  background: rgb(255, 172, 0);
}
a.repet_0777 {
  background: rgb(255, 172, 0);
}
a.repet_0778 {
  background: rgb(255, 171, 0);
}
a.repet_0779 {
  background: rgb(255, 170, 0);
}
a.repet_0780 {
  background: rgb(255, 169, 0);
}
a.repet_0781 {
  background: rgb(255, 168, 0);
}
a.repet_0782 {
  background: rgb(255, 168, 0);
}
a.repet_0783 {
  background: rgb(255, 167, 0);
}
a.repet_0784 {
  background: rgb(255, 166, 0);
}
a.repet_0785 {
  background: rgb(255, 165, 0);
}
a.repet_0786 {
  background: rgb(255, 165, 0);
}
a.repet_0787 {
  background: rgb(255, 164, 0);
}
a.repet_0788 {
  background: rgb(255, 163, 0);
}
a.repet_0789 {
  background: rgb(255, 162, 0);
}
a.repet_0790 {
  background: rgb(255, 162, 0);
}
a.repet_0791 {
  background: rgb(255, 161, 0);
}
a.repet_0792 {
  background: rgb(255, 160, 0);
}
a.repet_0793 {
  background: rgb(255, 159, 0);
}
a.repet_0794 {
  background: rgb(255, 159, 0);
}
a.repet_0795 {
  background: rgb(255, 158, 0);
}
a.repet_0796 {
  background: rgb(255, 157, 0);
}
a.repet_0797 {
  background: rgb(255, 156, 0);
}
a.repet_0798 {
  background: rgb(255, 155, 0);
}
a.repet_0799 {
  background: rgb(255, 155, 0);
}
a.repet_0800 {
  background: rgb(255, 154, 0);
}
a.repet_0801 {
  background: rgb(255, 153, 0);
}
a.repet_0802 {
  background: rgb(255, 152, 0);
}
a.repet_0803 {
  background: rgb(255, 152, 0);
}
a.repet_0804 {
  background: rgb(255, 151, 0);
}
a.repet_0805 {
  background: rgb(255, 150, 0);
}
a.repet_0806 {
  background: rgb(255, 149, 0);
}
a.repet_0807 {
  background: rgb(255, 149, 0);
}
a.repet_0808 {
  background: rgb(255, 148, 0);
}
a.repet_0809 {
  background: rgb(255, 147, 0);
}
a.repet_0810 {
  background: rgb(255, 146, 0);
}
a.repet_0811 {
  background: rgb(255, 146, 0);
}
a.repet_0812 {
  background: rgb(255, 145, 0);
}
a.repet_0813 {
  background: rgb(255, 144, 0);
}
a.repet_0814 {
  background: rgb(255, 143, 0);
}
a.repet_0815 {
  background: rgb(255, 143, 0);
}
a.repet_0816 {
  background: rgb(255, 142, 0);
}
a.repet_0817 {
  background: rgb(255, 141, 0);
}
a.repet_0818 {
  background: rgb(255, 140, 0);
}
a.repet_0819 {
  background: rgb(255, 139, 0);
}
a.repet_0820 {
  background: rgb(255, 139, 0);
}
a.repet_0821 {
  background: rgb(255, 138, 0);
}
a.repet_0822 {
  background: rgb(255, 137, 0);
}
a.repet_0823 {
  background: rgb(255, 136, 0);
}
a.repet_0824 {
  background: rgb(255, 136, 0);
}
a.repet_0825 {
  background: rgb(255, 135, 0);
}
a.repet_0826 {
  background: rgb(255, 134, 0);
}
a.repet_0827 {
  background: rgb(255, 133, 0);
}
a.repet_0828 {
  background: rgb(255, 133, 0);
}
a.repet_0829 {
  background: rgb(255, 132, 0);
}
a.repet_0830 {
  background: rgb(255, 131, 0);
}
a.repet_0831 {
  background: rgb(255, 130, 0);
}
a.repet_0832 {
  background: rgb(255, 130, 0);
}
a.repet_0833 {
  background: rgb(255, 129, 0);
}
a.repet_0834 {
  background: rgb(255, 128, 0);
}
a.repet_0835 {
  background: rgb(255, 127, 0);
}
a.repet_0836 {
  background: rgb(255, 126, 0);
}
a.repet_0837 {
  background: rgb(255, 126, 0);
}
a.repet_0838 {
  background: rgb(255, 125, 0);
}
a.repet_0839 {
  background: rgb(255, 124, 0);
}
a.repet_0840 {
  background: rgb(255, 123, 0);
}
a.repet_0841 {
  background: rgb(255, 123, 0);
}
a.repet_0842 {
  background: rgb(255, 122, 0);
}
a.repet_0843 {
  background: rgb(255, 121, 0);
}
a.repet_0844 {
  background: rgb(255, 120, 0);
}
a.repet_0845 {
  background: rgb(255, 120, 0);
}
a.repet_0846 {
  background: rgb(255, 119, 0);
}
a.repet_0847 {
  background: rgb(255, 118, 0);
}
a.repet_0848 {
  background: rgb(255, 117, 0);
}
a.repet_0849 {
  background: rgb(255, 117, 0);
}
a.repet_0850 {
  background: rgb(255, 116, 0);
}
a.repet_0851 {
  background: rgb(255, 115, 0);
}
a.repet_0852 {
  background: rgb(255, 114, 0);
}
a.repet_0853 {
  background: rgb(255, 113, 0);
}
a.repet_0854 {
  background: rgb(255, 113, 0);
}
a.repet_0855 {
  background: rgb(255, 112, 0);
}
a.repet_0856 {
  background: rgb(255, 111, 0);
}
a.repet_0857 {
  background: rgb(255, 110, 0);
}
a.repet_0858 {
  background: rgb(255, 110, 0);
}
a.repet_0859 {
  background: rgb(255, 109, 0);
}
a.repet_0860 {
  background: rgb(255, 108, 0);
}
a.repet_0861 {
  background: rgb(255, 107, 0);
}
a.repet_0862 {
  background: rgb(255, 107, 0);
}
a.repet_0863 {
  background: rgb(255, 106, 0);
}
a.repet_0864 {
  background: rgb(255, 105, 0);
}
a.repet_0865 {
  background: rgb(255, 104, 0);
}
a.repet_0866 {
  background: rgb(255, 104, 0);
}
a.repet_0867 {
  background: rgb(255, 103, 0);
}
a.repet_0868 {
  background: rgb(255, 102, 0);
}
a.repet_0869 {
  background: rgb(255, 101, 0);
}
a.repet_0870 {
  background: rgb(255, 101, 0);
}
a.repet_0871 {
  background: rgb(255, 100, 0);
}
a.repet_0872 {
  background: rgb(255, 99, 0);
}
a.repet_0873 {
  background: rgb(255, 98, 0);
}
a.repet_0874 {
  background: rgb(255, 97, 0);
}
a.repet_0875 {
  background: rgb(255, 97, 0);
}
a.repet_0876 {
  background: rgb(255, 96, 0);
}
a.repet_0877 {
  background: rgb(255, 95, 0);
}
a.repet_0878 {
  background: rgb(255, 94, 0);
}
a.repet_0879 {
  background: rgb(255, 94, 0);
}
a.repet_0880 {
  background: rgb(255, 93, 0);
}
a.repet_0881 {
  background: rgb(255, 92, 0);
}
a.repet_0882 {
  background: rgb(255, 91, 0);
}
a.repet_0883 {
  background: rgb(255, 91, 0);
}
a.repet_0884 {
  background: rgb(255, 90, 0);
}
a.repet_0885 {
  background: rgb(255, 89, 0);
}
a.repet_0886 {
  background: rgb(255, 88, 0);
}
a.repet_0887 {
  background: rgb(255, 88, 0);
}
a.repet_0888 {
  background: rgb(255, 87, 0);
}
a.repet_0889 {
  background: rgb(255, 86, 0);
}
a.repet_0890 {
  background: rgb(255, 85, 0);
}
a.repet_0891 {
  background: rgb(255, 84, 0);
}
a.repet_0892 {
  background: rgb(255, 84, 0);
}
a.repet_0893 {
  background: rgb(255, 83, 0);
}
a.repet_0894 {
  background: rgb(255, 82, 0);
}
a.repet_0895 {
  background: rgb(255, 81, 0);
}
a.repet_0896 {
  background: rgb(255, 81, 0);
}
a.repet_0897 {
  background: rgb(255, 80, 0);
}
a.repet_0898 {
  background: rgb(255, 79, 0);
}
a.repet_0899 {
  background: rgb(255, 78, 0);
}
a.repet_0900 {
  background: rgb(255, 78, 0);
}
a.repet_0901 {
  background: rgb(255, 77, 0);
}
a.repet_0902 {
  background: rgb(255, 76, 0);
}
a.repet_0903 {
  background: rgb(255, 75, 0);
}
a.repet_0904 {
  background: rgb(255, 75, 0);
}
a.repet_0905 {
  background: rgb(255, 74, 0);
}
a.repet_0906 {
  background: rgb(255, 73, 0);
}
a.repet_0907 {
  background: rgb(255, 72, 0);
}
a.repet_0908 {
  background: rgb(255, 72, 0);
}
a.repet_0909 {
  background: rgb(255, 71, 0);
}
a.repet_0910 {
  background: rgb(255, 70, 0);
}
a.repet_0911 {
  background: rgb(255, 69, 0);
}
a.repet_0912 {
  background: rgb(255, 68, 0);
}
a.repet_0913 {
  background: rgb(255, 68, 0);
}
a.repet_0914 {
  background: rgb(255, 67, 0);
}
a.repet_0915 {
  background: rgb(255, 66, 0);
}
a.repet_0916 {
  background: rgb(255, 65, 0);
}
a.repet_0917 {
  background: rgb(255, 65, 0);
}
a.repet_0918 {
  background: rgb(255, 64, 0);
}
a.repet_0919 {
  background: rgb(255, 63, 0);
}
a.repet_0920 {
  background: rgb(255, 62, 0);
}
a.repet_0921 {
  background: rgb(255, 62, 0);
}
a.repet_0922 {
  background: rgb(255, 61, 0);
}
a.repet_0923 {
  background: rgb(255, 60, 0);
}
a.repet_0924 {
  background: rgb(255, 59, 0);
}
a.repet_0925 {
  background: rgb(255, 59, 0);
}
a.repet_0926 {
  background: rgb(255, 58, 0);
}
a.repet_0927 {
  background: rgb(255, 57, 0);
}
a.repet_0928 {
  background: rgb(255, 56, 0);
}
a.repet_0929 {
  background: rgb(255, 55, 0);
}
a.repet_0930 {
  background: rgb(255, 55, 0);
}
a.repet_0931 {
  background: rgb(255, 54, 0);
}
a.repet_0932 {
  background: rgb(255, 53, 0);
}
a.repet_0933 {
  background: rgb(255, 52, 0);
}
a.repet_0934 {
  background: rgb(255, 52, 0);
}
a.repet_0935 {
  background: rgb(255, 51, 0);
}
a.repet_0936 {
  background: rgb(255, 50, 0);
}
a.repet_0937 {
  background: rgb(255, 49, 0);
}
a.repet_0938 {
  background: rgb(255, 49, 0);
}
a.repet_0939 {
  background: rgb(255, 48, 0);
}
a.repet_0940 {
  background: rgb(255, 47, 0);
}
a.repet_0941 {
  background: rgb(255, 46, 0);
}
a.repet_0942 {
  background: rgb(255, 46, 0);
}
a.repet_0943 {
  background: rgb(255, 45, 0);
}
a.repet_0944 {
  background: rgb(255, 44, 0);
}
a.repet_0945 {
  background: rgb(255, 43, 0);
}
a.repet_0946 {
  background: rgb(255, 42, 0);
}
a.repet_0947 {
  background: rgb(255, 42, 0);
}
a.repet_0948 {
  background: rgb(255, 41, 0);
}
a.repet_0949 {
  background: rgb(255, 40, 0);
}
a.repet_0950 {
  background: rgb(255, 39, 0);
}
a.repet_0951 {
  background: rgb(255, 39, 0);
}
a.repet_0952 {
  background: rgb(255, 38, 0);
}
a.repet_0953 {
  background: rgb(255, 37, 0);
}
a.repet_0954 {
  background: rgb(255, 36, 0);
}
a.repet_0955 {
  background: rgb(255, 36, 0);
}
a.repet_0956 {
  background: rgb(255, 35, 0);
}
a.repet_0957 {
  background: rgb(255, 34, 0);
}
a.repet_0958 {
  background: rgb(255, 33, 0);
}
a.repet_0959 {
  background: rgb(255, 33, 0);
}
a.repet_0960 {
  background: rgb(255, 32, 0);
}
a.repet_0961 {
  background: rgb(255, 31, 0);
}
a.repet_0962 {
  background: rgb(255, 30, 0);
}
a.repet_0963 {
  background: rgb(255, 30, 0);
}
a.repet_0964 {
  background: rgb(255, 29, 0);
}
a.repet_0965 {
  background: rgb(255, 28, 0);
}
a.repet_0966 {
  background: rgb(255, 27, 0);
}
a.repet_0967 {
  background: rgb(255, 26, 0);
}
a.repet_0968 {
  background: rgb(255, 26, 0);
}
a.repet_0969 {
  background: rgb(255, 25, 0);
}
a.repet_0970 {
  background: rgb(255, 24, 0);
}
a.repet_0971 {
  background: rgb(255, 23, 0);
}
a.repet_0972 {
  background: rgb(255, 23, 0);
}
a.repet_0973 {
  background: rgb(255, 22, 0);
}
a.repet_0974 {
  background: rgb(255, 21, 0);
}
a.repet_0975 {
  background: rgb(255, 20, 0);
}
a.repet_0976 {
  background: rgb(255, 20, 0);
}
a.repet_0977 {
  background: rgb(255, 19, 0);
}
a.repet_0978 {
  background: rgb(255, 18, 0);
}
a.repet_0979 {
  background: rgb(255, 17, 0);
}
a.repet_0980 {
  background: rgb(255, 17, 0);
}
a.repet_0981 {
  background: rgb(255, 16, 0);
}
a.repet_0982 {
  background: rgb(255, 15, 0);
}
a.repet_0983 {
  background: rgb(255, 14, 0);
}
a.repet_0984 {
  background: rgb(255, 13, 0);
}
a.repet_0985 {
  background: rgb(255, 13, 0);
}
a.repet_0986 {
  background: rgb(255, 12, 0);
}
a.repet_0987 {
  background: rgb(255, 11, 0);
}
a.repet_0988 {
  background: rgb(255, 10, 0);
}
a.repet_0989 {
  background: rgb(255, 10, 0);
}
a.repet_0990 {
  background: rgb(255, 9, 0);
}
a.repet_0991 {
  background: rgb(255, 8, 0);
}
a.repet_0992 {
  background: rgb(255, 7, 0);
}
a.repet_0993 {
  background: rgb(255, 7, 0);
}
a.repet_0994 {
  background: rgb(255, 6, 0);
}
a.repet_0995 {
  background: rgb(255, 5, 0);
}
a.repet_0996 {
  background: rgb(255, 4, 0);
}
a.repet_0997 {
  background: rgb(255, 4, 0);
}
a.repet_0998 {
  background: rgb(255, 3, 0);
}
a.repet_0999 {
  background: rgb(255, 2, 0);
}
a.repet_1000 {
  background: rgb(255, 1, 0);
}
